* {
  box-sizing: border-box; }

.cta {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #fff; }
  .cta:hover, .cta:focus {
    border: 2px solid transparent; }
    .cta:hover.primary, .cta:focus.primary {
      background-color: #1da1f3; }
    .cta:hover.secondary, .cta:focus.secondary {
      background-color: #F3F315; }

body {
  width: 5200px;
  height: 100vh;
  background-color: #f1c40f;
  overflow: hidden; }

span.is-yellow-lighter {
  color: #f1c40f; }
span.is-red-light {
  color: #E26A6A; }
span.is-green-light {
  color: #26C281; }

.cards-container {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 15vh;
  left: 200px;
  width: 4800px;
  box-shadow: 0 2rem 4rem 0.25rem rgba(46, 43, 55, 0.575); }
  .cards-container .card-intro,
  .cards-container .card-projects,
  .cards-container .card-project,
  .cards-container .card-about,
  .cards-container .card-experience,
  .cards-container .card-contact,
  .cards-container .card6 {
    width: 800px;
    height: 520px;
    position: relative;
    color: #fff;
    font-size: 40px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    transition-property: transform;
    transition-duration: 200ms; }
    .cards-container .card-intro:hover, .cards-container .card-intro:focus,
    .cards-container .card-projects:hover,
    .cards-container .card-projects:focus,
    .cards-container .card-project:hover,
    .cards-container .card-project:focus,
    .cards-container .card-about:hover,
    .cards-container .card-about:focus,
    .cards-container .card-experience:hover,
    .cards-container .card-experience:focus,
    .cards-container .card-contact:hover,
    .cards-container .card-contact:focus,
    .cards-container .card6:hover,
    .cards-container .card6:focus {
      transform: scale(1.03);
      z-index: 10;
      box-shadow: 0 2rem 4rem 0.25rem rgba(46, 43, 55, 0.575); }
  .cards-container .card5 {
    background-color: #E26A6A; }
  .cards-container .card6 {
    background-color: #474747; }

.content {
  padding: 90px 40px;
  height: 100%; }
  .content h1 {
    color: #fff;
    font-size: 40px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    font-size: 40px; }
  .content h2 {
    color: #fff;
    font-size: 40px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700; }
  .content p {
    color: #fff;
    font-size: 20px;
    font-family: 'Varela Round', sans-serif; }

.card-intro {
  background-color: #fff;
  background-image: url(../image/office.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .card-intro .image {
    width: 65%;
    margin-top: 40%;
    margin-left: 15%; }
    .card-intro .image img {
      width: 100%;
      border-radius: 50%; }
  .card-intro .content {
    background-color: rgba(47, 47, 47, 0.7);
    height: 100%;
    padding: 30% 25px; }
    .card-intro .content p {
      font-size: 22px; }

.card-projects {
  background-color: #474747; }
  .card-projects .grids .grid-main {
    width: 100%;
    height: 50%;
    background-position: center;
    background-size: cover; }
  .card-projects .grids .grid-secondary-container {
    height: 50%;
    background-color: #E26A6A;
    display: flex;
    flex-direction: row; }
    .card-projects .grids .grid-secondary-container .grid-secondary {
      width: 50%;
      background-color: #474747; }

.card-project.project1 {
  background-color: #e1d6c0; }
  .card-project.project1::after {
    content: "";
    position: absolute;
    top: -40px;
    right: -10px;
    width: 300px;
    height: 390px;
    background-image: url("../image/avatar5.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1; }
  .card-project.project1 .image {
    width: 70%;
    margin-top: 25%; }
    .card-project.project1 .image img {
      width: 100%; }
  .card-project.project1 .content {
    padding-right: 0; }
.card-project.project2 {
  background-color: #e67e22; }
  .card-project.project2 .image {
    width: 70%;
    margin-top: 20%;
    padding: 20px;
    background-color: #fff; }
    .card-project.project2 .image img {
      width: 100%; }

.card-about {
  background-color: #474747; }
  .card-about .content {
    padding: 90px 80px; }
    .card-about .content h2 {
      text-align: center; }
    .card-about .content p {
      font-size: 19px; }

.card-experience {
  background-image: url("../image/work.jpg"); }
  .card-experience .content {
    background-color: rgba(47, 47, 47, 0.7);
    padding: 90px 80px; }
    .card-experience .content .experience-role {
      width: 100%;
      height: 80px; }
      .card-experience .content .experience-role .experience-title .title, .card-experience .content .experience-role .experience-title .date {
        display: inline-block;
        width: 48%;
        margin: 0; }
      .card-experience .content .experience-role .experience-title .title {
        color: #f1c40f; }
      .card-experience .content .experience-role .company {
        margin: 0 0 10px 0; }

.card-contact {
  background-color: #E26A6A;
  text-align: center; }
  .card-contact a {
    text-decoration: none;
    display: inline-block;
    margin: 20px;
    width: 100px;
    transition-property: transform;
    transition-duration: 200ms; }
    .card-contact a:hover {
      transform: scale(1.05); }
    .card-contact a img {
      width: 100%; }

.layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row; }
  .layout .column {
    width: 100%; }
  .layout.has-two-columns.left .column:nth-of-type(1) {
    width: 40%; }
  .layout.has-two-columns.left .column:nth-of-type(2) {
    width: 60%; }
  .layout.has-two-columns.right .column:nth-of-type(1) {
    width: 60%; }
  .layout.has-two-columns.right .column:nth-of-type(2) {
    width: 40%; }

.pseudo-project2 {
  position: absolute;
  left: 2600px;
  top: 120px; }
  .pseudo-project2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 900px;
    height: 520px;
    background-color: #fff;
    z-index: -1;
    transform: rotate(-10deg); }

@media screen and (max-width: 768px) {
  body {
    width: 100vw;
    background-color: #f1c40f;
    overflow: auto;
    overflow-x: hidden; }

  .pseudo-project2 {
    display: none; }

  .cards-container {
    display: block;
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 100%;
    box-shadow: none; }
    .cards-container .card-intro,
    .cards-container .card-projects,
    .cards-container .card-project,
    .cards-container .card-about,
    .cards-container .card-experience,
    .cards-container .card-contact,
    .cards-container .card6 {
      width: 100%;
      height: auto;
      display: block;
      position: relative;
      color: #fff;
      font-size: 40px;
      font-family: 'Varela Round', sans-serif;
      font-weight: 700;
      transition-property: transform;
      transition-duration: 200ms; }
      .cards-container .card-intro:hover, .cards-container .card-intro:focus,
      .cards-container .card-projects:hover,
      .cards-container .card-projects:focus,
      .cards-container .card-project:hover,
      .cards-container .card-project:focus,
      .cards-container .card-about:hover,
      .cards-container .card-about:focus,
      .cards-container .card-experience:hover,
      .cards-container .card-experience:focus,
      .cards-container .card-contact:hover,
      .cards-container .card-contact:focus,
      .cards-container .card6:hover,
      .cards-container .card6:focus {
        transform: scale(1);
        z-index: 0;
        box-shadow: none; }
    .cards-container .card-intro .image {
      margin-top: 10%; }
    .cards-container .card-about .content {
      padding: 20px; }
    .cards-container .card-project .image {
      margin-top: 0;
      width: 100%; }
    .cards-container .card-project.project1::after {
      top: -20px;
      right: 0;
      width: 150px;
      height: 150px; }
    .cards-container .card-experience .content {
      background-color: rgba(47, 47, 47, 0.7);
      padding: 90px 40px; }
      .cards-container .card-experience .content .experience-role {
        width: 100%;
        height: auto;
        margin-bottom: 50px; }
        .cards-container .card-experience .content .experience-role .experience-title .title, .cards-container .card-experience .content .experience-role .experience-title .date {
          display: block;
          width: 100%;
          margin: 0; }
        .cards-container .card-experience .content .experience-role .experience-title .title {
          color: #f1c40f; }
        .cards-container .card-experience .content .experience-role .experience-title .date {
          font-size: 20px; }
        .cards-container .card-experience .content .experience-role .company {
          margin: 0 0 10px 0; }

  .layout {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; }
    .layout .column {
      width: 100%; }
    .layout.has-two-columns.left .column:nth-of-type(1) {
      width: 100%; }
    .layout.has-two-columns.left .column:nth-of-type(2) {
      width: 100%; }
    .layout.has-two-columns.right .column:nth-of-type(1) {
      width: 100%; }
    .layout.has-two-columns.right .column:nth-of-type(2) {
      width: 100%; } }

/*# sourceMappingURL=style.css.map */
