// variables
$color-orange-light: #e1d6c0;
$color-blue-light: #1da1f3;
$color-green-medium: #26C281;
$color-purple-medium: #726193;
$color-purple-light: #9b59b6;
$color-grey-dark: #2c3e50;
$color-grey-medium: #474747;
$color-red-medium: #e74c3c;
$color-red-light: #E26A6A;
$color-orange-medium: #e67e22;
$color-yellow-light: #f1c40f;
$color-yellow-lighter: #F3F315;
$color-white: #fff;
$color-grey-light: #ecf0f1;

* {
  box-sizing: border-box;
}

@mixin font-heading {
  color: $color-white;
  font-size: 40px;
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
}

@mixin font-normal {
  color: $color-white;
  font-size: 20px;
  font-family: 'Varela Round', sans-serif;
}


@mixin button {
  text-decoration: none;
  color: $color-white;
  font-size: 16px;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid $color-white;
}

.cta {
  @include button;


  &:hover,
  &:focus {
    border: 2px solid transparent;

      &.primary {
        background-color: $color-blue-light;

      }

      &.secondary {
        background-color: $color-yellow-lighter;
      }
  }
}


body {
  width: 5200px;
  height: 100vh;
  background-color: $color-yellow-light;
  overflow: hidden;
  position: relative;
}

span {
  &.is-yellow-lighter {
    color: $color-yellow-light;
  }
  &.is-red-light {
    color: $color-red-light;
  }
  &.is-green-light {
    color: $color-green-medium;
  }
}

.cards-container {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 15vh;
  left: 200px;
  width: 4800px;

  box-shadow: 0 2rem 4rem 0.25rem rgba(46, 43, 55, 0.575);

  .card-intro,
  .card-projects,
  .card-project,
  .card-about,
  .card-experience,
  .card-contact,
  .card6 {
    width: 800px;
    height: 520px;
    position: relative;
    @include font-heading;
    transition-property: transform;
    transition-duration: 200ms;

    &:hover,
    &:focus {
      transform: scale(1.03);
      z-index: 10;
      box-shadow: 0 2rem 4rem 0.25rem rgba(46, 43, 55, 0.575);
    }
  }


  .card5 {
    background-color: $color-red-light;
  }

  .card6 {
    background-color: $color-grey-medium;
  }
}

.content {
  padding: 90px 40px;
  height: 100%;

  h1 {
    @include font-heading;
    font-size: 40px;
  }

  h2 {
    @include font-heading;
  }

  p {
    @include font-normal;
  }

}


.card-intro {
  background-color: $color-white;
  background-image: url(../image/office.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  .column:first-child {
    // background-color: $color-red-light;
  }

  .image {
    width: 65%;
    margin-top: 40%;
    margin-left: 15%;
    img {
      width: 100%;
      border-radius: 50%;
    }
  }

  .content {
    // margin-top: 100px;
    // margin-right: 20px;
    background-color: rgba(47, 47, 47, 0.7);
    height: 100%;

    padding: 30% 25px;

    p {
      font-size: 22px;
    }
  }

  // .column:first-child {
  //   // background-image: url(../image/office.jpg);
  //   background-size: cover;
  //   background-position: center;
  // }

}

.card-projects {
  background-color: $color-grey-medium;

  .grids {
    .grid-main {
      width: 100%;
      height: 50%;
      // background-color: $color-blue-light;
      // background-image: url('../image/table-mac.jpg');
      background-position: center;
      background-size: cover;
    }
    .grid-secondary-container {
      height: 50%;
      background-color: $color-red-light;
      display: flex;
      flex-direction: row;

      .grid-secondary {
        width: 50%;
        background-color: $color-grey-medium;
      }
    }
  }
}

.card-project {
  &.project1 {
    background-color: $color-orange-light;

    &::after {
      content: "";
      position: absolute;
      top: -40px;
      right: -10px;
      width: 300px;
      height: 390px;
      background-image: url('../image/avatar5.png');
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 1;
    }

    // &:hover {
    //   &::before {
    //     -moz-transform: scaleX(-1);
    //     -o-transform: scaleX(-1);
    //     -webkit-transform: scaleX(-1);
    //     transform: scaleX(-1);
    //     filter: FlipH;
    //     -ms-filter: "FlipH";
    //   }
    // }

    .image {
      width: 70%;
      margin-top: 25%;

      img {
        width: 100%;
      }
    }

    .content {
      padding-right: 0;
    }
  }

  &.project2 {
    background-color: $color-orange-medium;

    .image {
      width: 70%;
      margin-top: 20%;
      padding: 20px;
      background-color: $color-white;

      img {
        width: 100%;
      }
    }
  }
}

.card-about{
  background-color: $color-grey-medium;

  .content {
    padding: 90px 80px;
    h2 {
      text-align: center;
    }
    p {
      font-size: 19px;
    }
  }

}

.card-experience {
  background-image: url('../image/work.jpg');

  .content {
    background-color: rgba(47, 47, 47, 0.7);
    padding: 90px 80px;

    .experience-role {
      width: 100%;
      height: 80px;

      .experience-title {
        .title, .date {
          display: inline-block;
          width: 48%;
          margin: 0;
        }
        .title {
          color: $color-yellow-light;
        }
      }
      .company {
        margin: 0 0 10px 0;
      }
    }
  }
}

.card-contact {
  background-color: $color-red-light;
  text-align: center;

  a {
    text-decoration: none;
    display: inline-block;
    margin: 20px;
    width: 100px;
    transition-property: transform;
    transition-duration: 200ms;

    &:hover {
      transform: scale(1.05);
    }


    img {
      width: 100%;
    }
  }
}



.layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  .column {
    width: 100%;
  }

  &.has-two-columns {
    &.left {
      .column {
        &:nth-of-type(1) {
          width: 40%;
        }
        &:nth-of-type(2) {
          width: 60%;
        }
      }
    }

    &.right {
      .column {
        &:nth-of-type(1) {
          width: 60%;
        }
        &:nth-of-type(2) {
          width: 40%;
        }
      }
    }

  }
}

.pseudo-project2 {
  position: absolute;
  // width: 900px;
  // height: 520px;
  // left: 3080px;
  left: 2600px;
  top: 120px;
  // background-color: $color-grey-light;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 900px;
    height: 520px;
    background-color: $color-white;
    z-index: -1;
    transform: rotate(-10deg);
  }
}


// next level, make it responsive
@media screen and (max-width: 768px) {


  body {
    width: 100vw;
    background-color: $color-yellow-light;
    overflow: auto;
    overflow-x: hidden;
  }

  .pseudo-project2 {
    display: none;
  }

  .cards-container {
    display: block;
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 100%;

    box-shadow: none;

    .card-intro,
    .card-projects,
    .card-project,
    .card-about,
    .card-experience,
    .card-contact,
    .card6 {
      width: 100%;
      height: auto;
      display: block;
      position: relative;
      @include font-heading;
      transition-property: transform;
      transition-duration: 200ms;

      &:hover,
      &:focus {
        transform: scale(1);
        z-index: 0;
        box-shadow: none;
      }
    }

    .card-intro .image {
      margin-top: 10%;
    }

    .card-about {
      .content {
        padding: 20px;
      }
    }

    .card-project {
      .image {
        margin-top: 0;
        width: 100%;
      }
    }

    .card-project.project1::after {
      top: -20px;
      right: 0;
      width: 150px;
      height: 150px;
    }

    .card-experience {
      .content {
        background-color: rgba(47, 47, 47, 0.7);
        padding: 90px 40px;

        .experience-role {
          width: 100%;
          height: auto;
          margin-bottom: 50px;

          .experience-title {
            .title, .date {
              display: block;
              width: 100%;
              margin: 0;
            }
            .title {
              color: $color-yellow-light;
            }

            .date {
              font-size: 20px;
            }
          }
          .company {
            margin: 0 0 10px 0;
          }
        }
      }
    }
  }

  .layout {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .column {
      width: 100%;
    }

    &.has-two-columns {
      &.left {
        .column {
          &:nth-of-type(1) {
            width: 100%;
          }
          &:nth-of-type(2) {
            width: 100%;
          }
        }
      }

      &.right {
        .column {
          &:nth-of-type(1) {
            width: 100%;
          }
          &:nth-of-type(2) {
            width: 100%;
          }
        }
      }

    }
  }

}
